<div *ngIf="!loading()">
  <app-header-component></app-header-component>

  <section class="flex justify-center mt-10 mb-8">
    <form (submit)="onSubmit($event)" class="flex flex-col gap-4">
      <label>
        Selecciona la primera carpeta:
        <input
          type="file"
          webkitdirectory
          directory
          multiple
          (change)="onFolderSelect($event, 1)"
        />
      </label>
      <br />
      <label>
        Selecciona la segunda carpeta:
        <input
          type="file"
          webkitdirectory
          directory
          multiple
          (change)="onFolderSelect($event, 2)"
        />
      </label>

      <!-- TODO - IMPLEMENTAR CUSTOM INPUT -->
      <app-input-component></app-input-component>

      <!-- TODO - https://chatgpt.com/share/686fe25c-c240-800e-bf17-4a465205ff09 -->
       
      <br /><br />
      <button
        type="submit"
        class="justify-center text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 shadow-lg shadow-blue-500/50 dark:shadow-lg dark:shadow-blue-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2"
      >
        Comparar imágenes
      </button>
    </form>
  </section>
  <hr />

  @if(results.length >0) {
  <app-datatable-component [imageData]="results"></app-datatable-component>
  }
</div>

<div *ngIf="loading()" class="text-center bg-gray-200">
  <app-spinner-component></app-spinner-component>
  <div class="-mt-[10.5rem]">
    Comparando un total de {{ totalImages() }} imágenes...
  </div>
</div>
